{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - Home{% endblock %}

{% block content %}
  <div class="sotto-navBar">
    <h3>DASHBOARD</h3>
    <div class="route-dashboard">
      <p>Dashboardly</p>
      <p>/</p>  
      <p id="active">Dashboard</p>
    </div>
  </div>

  <div class="card_home_page">
    <div class="banner-welcome">
      <h1>WELCOME BACK ,</h1>
      <h1 id="userDetails"></h1>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}

