<!-- REGISTER TEMPLATES -->

{% load static %}
<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
  </head>
  <body>
    <div class="card">  

      <div class="banner">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/678/39/desktop-wallpaper-the-traveler-flat-landscape.jpg" alt="">
        <h3>JOIN US BY CREATING A NEW <span>ACCOUNT</span></h3>
      </div>

      <div class="form-container">
        <h2>Registrazione</h2>
        <pre id="registerOutput"></pre>

        <form id="registerForm">
          <input name="username" placeholder="Username" required>
          <input name="email"    type="email" placeholder="E-mail" required>
          <input name="password" type="password" placeholder="Password" required>

          <div class="linkage">
            <a href="/" id="loginLink">Hai già un account? Accedi</a>
          </div>

          <button type="submit">Registrati</button>
        </form>

      </div>

    </div>

    <script src="{% static 'js/register.js' %}"></script>
  </body>
</html>
